<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            🎓 EduPlatform
        </a>

        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="{% url 'index' %}">Bosh sahifa</a>

            {% if request.user.is_staff %}
                <a class="nav-link btn btn-light mx-2" href="{% url 'course_create' %}">
                    + Kurs Qo'shish
                </a>
                <a class="nav-link btn btn-light" href="{% url 'student_create' %}">
                    + Talaba Qo'shish
                </a>
            {% endif %}
        </div>
    </div>
</nav>